#footerContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(34, 34, 34, 0.459);

  #githubText {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    color: white;
    margin-right: 1em;

    a, a:visited, a:active, a:focus {
      text-decoration: none;
      color: white;
      border: 0;
      outline: none;
    } 
  }
  
  #githubText > a:visited, #githubText > a:active, #githubText > a:focus {
    color: white;
    border: 0;
    outline: none;
  }
}
